<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>42 Coffee Cups Test Assignment</title>
    <style type="text/css">
        .block {
            margin: 9px;
            }
        .header {
            float: left;
            width: 97%;
            }
        .column_left {
            float: left;
            width: 47%;
            }
        .column_right {
            float: right;
            width: 47%;
            }
    </style>
</head>
<body>
    <div class="header block">
        <h4>42 Coffee Cups Test Assignment</h4>
    </div>
    <div class="column_left block">
        <p>{{ t.name }}</p>
        <p>{{ t.last_name }}</p>
        <p>{{ t.date_of_birth }}</p>
        <p>Bio:</p>
        <p> Personal Qualities
            {% for pq in t.bio.Personal_Qualities %}
                <br>{{ pq }}
            {% endfor %}
        </p>
        <p> Education
            {% for ed in t.bio.Education %}
                <br>{{ ed }}
            {% endfor %}
        </p>
        <p> Experience
            {% for ex in t.bio.Experience %}
                <br>{{ ex }}
            {% endfor %}
        </p>
    </div>

    <div class="column_right block">
        <p>Contacts</p>
        <p>Email: {{t.email}}</p>
        <p>Jabber: {{t.jabber}}</p>
        <p>Skype: {{t.skype}}</p>
        <p>Other contacts:
            <p> Phone
                {{t.other_contacts.Phone}}
            </p>
            <p> Linkedin
                {{t.other_contacts.Linkedin}}
            </p>
        </p>
    </div>


</body>
</html>