<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>42 Coffee Cups Test Assignment</title>
    <style type="text/css">
        .block {
            margin: 9px;
            }
        .header {
            float: left;
            width: 97%;
            }
        .column_left {
            float: left;
            width: 47%;
            }
        .column_right {
            float: right;
            width: 47%;
            }
    </style>
</head>
<body>
    <div class="header block">
        <h4>42 Coffee Cups Test Assignment</h4>
    </div>
    <div class="column_left block">
        <p>{{ contact.name }}</p>
        <p>{{ contact.last_name }}</p>
        <p>{{ contact.date_of_birth }}</p>
        <p>Bio:</p>
        <p> Personal Qualities
            {% for pq in contact.bio.Personal_Qualities %}
                <br>{{ pq }}
            {% endfor %}
        </p>
        <p> Education
            {% for ed in contact.bio.Education %}
                <br>{{ ed }}
            {% endfor %}
        </p>
        <p> Experience
            {% for ex in contact.bio.Experience %}
                <br>{{ ex }}
            {% endfor %}
        </p>
    </div>

    <div class="column_right block">
        <p>Contacts</p>
        <p>Email: {{contact.email}}</p>
        <p>Jabber: {{contact.jabber}}</p>
        <p>Skype: {{contact.skype}}</p>
        <p>Other contacts:
            <p> Phone
                {{contact.other_contacts.Phone}}
            </p>
            <p> Linkedin
                {{contact.other_contacts.Linkedin}}
            </p>
        </p>
    </div>

</body>
</html>